.strock{
    width: 15%;
    height: 2px;
    margin: 0 30px;
}

:root{
    --bs-dark-rgb:44,62,80;
    --bs-success-rgb:26,188,156;
}
.btn-success {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}
.link-success{
    color: #1abc9c;
}

.bg-footer{
    background-color: #3A546D;
}


.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    font-size: 14px;
    padding: 0px 0px;
    text-align: center;
}

.btn-circle-sm {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
}

.img-box{
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.img-size{
    width: 100%;
}

.text-des{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 1;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.25s;
}

.text-des:hover {
    opacity: 1;
  }
.text-des {
   transform:translateY(20px) ;
   transition: transform 0.25s;
  }

.text-des:hover {
    transform: translateY(0);
}